 <% for(var i = 1; i < pageCount+1; i++) { %>
 	<% if(pageNumber == i){%>
 		<span><%= i %></span>
 	<% }else{%>
		<a href="<%= uri %><%= i %>"><%= i %></a>
	<% }%>
 	
 <% } %>

 第 <%= pageNumber %> / <%= pageCount %>页 

